services:
  # ==========================================
  # 1. FRONTEND (Seu Site HTML/CSS/JS)
  # ==========================================
  frontend:
    image: nginx:alpine
    container_name: techsync-front
    restart: always
    ports:
      - "80:80"  # Acessível em http://localhost
    volumes:
      # Mapeia sua pasta local 'front' para onde o Nginx serve os arquivos
      - ./front:/usr/share/nginx/html
    networks:
      - techsync-net

  # ==========================================
  # 2. BACKEND (Sua API Node.js)
  # ==========================================
  backend:
    build: ./back  # Lê o Dockerfile dentro da pasta back
    container_name: techsync-back
    restart: always
    ports:
      - "3000:3000" # API acessível em http://localhost:3000
    depends_on:
      - db-mysql
    environment:
      - DB_HOST=db-mysql
      - DB_USER=techsync
      - DB_PASS=senha_forte
      - DB_NAME=techsync_db
    networks:
      - techsync-net

  # ==========================================
  # 3. BANCO DE DADOS (Aplicação)
  # ==========================================
  db-mysql:
    image: mysql:8.0
    container_name: techsync-mysql
    restart: always
    environment:
      MYSQL_DATABASE: techsync_db
      MYSQL_USER: techsync
      MYSQL_PASSWORD: senha_forte
      MYSQL_ROOT_PASSWORD: root_pwd
    volumes:
      - mysql_data:/var/lib/mysql
      # OBS: Não usamos mais o init.sql aqui, pois o Node.js
      # vai rodar as Migrations e Seeders automaticamente.
    networks:
      - techsync-net

  # ==========================================
  # 4. MONITORAMENTO (Zabbix)
  # ==========================================
  zabbix:
    image: zabbix/zabbix-appliance:latest
    container_name: zabbix-appliance
    restart: always
    ports:
      - "8081:80"      # Interface Web do Zabbix (evita conflito com a porta 80 do front)
      - "10051:10051"  # Porta do Servidor Zabbix (Agentes)
    volumes:
      - zabbix_data:/var/lib/mysql # Persistência do banco interno do Zabbix
    networks:
      - techsync-net

  # ==========================================
  # 5. MONITORAMENTO (Grafana)
  # ==========================================
  grafana:
    image: grafana/grafana:latest
    container_name: techsync-grafana
    restart: always
    ports:
      - "3001:3000"    # Grafana na porta 3001
    environment:
      - GF_INSTALL_PLUGINS=alexanderzobnin-zabbix-app
      - GF_SECURITY_ADMIN_PASSWORD=admin # Senha padrão p/ facilitar dev
    volumes:
      - grafana_data:/var/lib/grafana
      # Provisionamento automático (Dashboards e Data Source)
      - ./grafana_provisioning:/etc/grafana/provisioning
    networks:
      - techsync-net

# Definição dos Volumes (Persistência)
volumes:
  mysql_data:
  zabbix_data:
  grafana_data:

# Definição da Rede
networks:
  techsync-net:
    driver: bridge