services:
  # ==========================================
  # 1. FRONTEND
  # ==========================================
  frontend:
    image: nginx:alpine
    container_name: techsync-front
    restart: always
    ports:
      - '8000:80'
    volumes:
      - ./front:/usr/share/nginx/html
    networks:
      - techsync-net

  # ==========================================
  # 2. BACKEND
  # ==========================================
  backend:
    build: ./back
    container_name: techsync-back
    restart: always
    ports:
      - '3000:3000'
    depends_on:
      - db-mysql
    environment:
      # O Prisma precisa desta variavel exata.
      - DATABASE_URL=mysql://root:root_pwd@db-mysql:3306/techsync_db
    networks:
      - techsync-net

  # ==========================================
  # 3. BANCO DE DADOS
  # ==========================================
  db-mysql:
    image: mysql:8.0
    container_name: techsync-mysql
    restart: always
    environment:
      MYSQL_DATABASE: techsync_db
      MYSQL_USER: techsync
      MYSQL_PASSWORD: senha_forte
      MYSQL_ROOT_PASSWORD: root_pwd
    ports:
      # IMPORTANTE: Expõe a porta para você rodar 'npx prisma migrate' do seu terminal
      - '3306:3306'
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - techsync-net

  # ==========================================
  # 4. MONITORAMENTO (Zabbix)
  # ==========================================
  zabbix:
    image: zabbix/zabbix-appliance:latest
    container_name: zabbix-appliance
    restart: always
    ports:
      - '8081:80'
      - '10051:10051'
    volumes:
      - zabbix_data:/var/lib/mysql
    networks:
      - techsync-net

  # ==========================================
  # 5. MONITORAMENTO (Grafana)
  # ==========================================
  grafana:
    image: grafana/grafana:latest
    container_name: techsync-grafana
    restart: always
    ports:
      - '3001:3000'
    environment:
      - GF_INSTALL_PLUGINS=alexanderzobnin-zabbix-app
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_SECURITY_ALLOW_EMBEDDING=true   # <--- ESSA É A CHAVE! (Permite Iframe)
      - GF_AUTH_ANONYMOUS_ENABLED=true     # <--- Permite ver sem logar de novo
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer  # <--- Define como visualizador
      - GF_SERVER_ROOT_URL=http://localhost:3001 # <--- Ajuda o Grafana a saber quem ele é
    volumes:
      - grafana_data:/var/lib/grafana
      #- ./grafana_provisioning:/etc/grafana/provisioning
    networks:
      - techsync-net

volumes:
  mysql_data:
  zabbix_data:
  grafana_data:

networks:
  techsync-net:
    driver: bridge
